<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
    <title>DANDELION</title>
</head>
<body>
  <header class="header bg-light fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="static/img/dandelion-logo.png" alt="Logo" style="height: 65px; width: auto;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item txt3">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item txt3">
            <a class="nav-link" href="#">Acerca de</a>
          </li>
          <li class="nav-item txt3">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="limiter">
    <div class="container-register d-flex align-items-center justify-content-center">
			<div class="wrap-register">
				<div class="register-pic js-tilt" data-tilt>
					<img src="static/img/dandelion-logo.png" alt="IMG">
				</div>

				<form class="register-form validate-form" action="/api/user/register" method="POST">
					<span class="register-form-title">
						Register
					</span>

                    <div class="wrap-input validate-input" data-validate = "Name is required">
                        <label>
                            <input class="input" name="name" placeholder="Name" type="text" id="nameRegister">
                        </label>
                        <span class="focus-input"></span>
						<span class="symbol-input">
						</span>
					</div>

                    <div class="wrap-input validate-input" data-validate = "User Name is required">
                        <label>
                            <input class="input" type="text" name="username" placeholder="User Name" id="nameuserRegister">
                        </label>
                        <span class="focus-input"></span>
						<span class="symbol-input">
						</span>
					</div>

					<div class="wrap-input validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        <label>
                            <input class="input" type="text" name="mail" placeholder="Email" id="mailRegister">
                        </label>
                        <span class="focus-input"></span>
						<span class="symbol-input">
						</span>
					</div>

					<div class="wrap-input validate-input" data-validate = "Password is required">
                        <label>
                            <input class="input" type="password" name="pass" placeholder="Password" id="passwordRegister">
                        </label>
                        <span class="focus-input"></span>
						<span class="symbol-input">
						</span>
					</div>
					
					<div class="container-register-form-btn">
						<button type="submit" class="register-form-btn" id="register">
							Start Now
						</button>
					</div>
				</form>
			</div>
		</div>
  </div>

  <footer class="footer bg-light">
    <p>&copy; 2023 Dandelion. Todos los derechos reservados.</p>
  </footer>
</body>
</html>